<h1>Sign up!</h1>

<%
=begin%>
 <form action="/users" method="POST" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <label for="username">Username</label><br>
  <input id="username" type="text" name="user[username]" required><br>
  
  <label for="email">Email</label><br>
  <input id="email" type="email" name="user[email]" required><br>
  <label for="password">Password</label><br>
  <input id="password" type="password" name="user[password]" required><br>
  <input type="submit" value="Submit">
</form> 
<%
=end%>

<%
=begin%>
 <%= form_tag('/users') do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:email, "Email:") %>
  <%= email_field(:user, :email) %>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Submit") %>
<% end %> 
<%
=end%>

<%= form_with model: @user do |form| %>
  <%= form.label(:username, "Username: ")%><br>
  <%= form.text_field :username, placeholder: "Eg. JohnDoe123" %><br>
  <% @user.errors.full_messages_for(:username).each do |message| %>
  <div><%= message %></div>
  <% end %>

  <%= form.label(:email, "Email: ")%><br>
  <%= form.email_field :email, placeholder: "john@doe.com"%><br>
  <% @user.errors.full_messages_for(:email).each do |message| %>
  <div><%= message %></div>
  <% end %>

  <%= form.label(:password, "Password: ")%><br>
  <%= form.password_field :password, placeholder: "*****"%>
  <% @user.errors.full_messages_for(:password).each do |message| %>
  <div><%= message %></div>
  <% end %>
  
  <%= form.submit("Submit")%>
<% end %>