<h1>Sign up!</h1>

<%= form_with model: @user do |form| %>
  <%= form.label(:username, "Username: ")%><br>
  <%= form.text_field :username, placeholder: "Eg. JohnDoe123" %><br>

  <%= form.label(:email, "Email: ")%><br>
  <%= form.email_field :email, placeholder: "john@doe.com"%><br>

  <%= form.label(:password, "Password: ")%><br>
  <%= form.password_field :password, placeholder: "*****"%><br><br>

  <%= form.submit("Submit")%>
<% end %>